/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.App {
  text-align: center;
  background: var(--white, whitesmoke);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 1200px;
  width: 90%;
  margin: 50px auto 20px;
  min-height: calc(100vh - 185px);
}

.tint.light {
  background: rgba(50, 50, 50, 0.25);
}
.tint.dark {
  background: rgba(0, 0, 0, 0.55);
}
h2.dark {
  color: var(--light-green, lightgreen);
}
.transactions li.dark {
  background: blue;
}
div.dark {
  background: var(--dark-green, darkgreen);
}
form.dark {
  background: var(--dark-green, darkgreen);
}
.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.btn {
  font-family: inherit;
  font-weight: normal;
  background: var(--light-green, green);
  color: var(--green, black);
  border: 1px solid var(--green, green);
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: #9cac98;
  color: var(--green, green);
  border-color: var(--green, green);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.error {
  color: red;
}

/* FORMS */
form {
  max-width: 400px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--white, whitesmoke);
  background: var(--green, green);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

form h2,
form h3 {
  padding: 20px;
  margin: 0 auto;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

span {
  margin-bottom: 2px;
  color: var(--white, whitesmoke);
  font-size: 0.85em;
}

input {
  border: transparent;
  border-radius: 2px;
  font-family: inherit;
  font-weight: lighter;
  font-size: 1.01em;
  padding: 4px 6px;
  outline: 2px solid transparent;
}

input:focus {
  outline: 2px solid var(--green, green);
}

button {
  margin: 20px auto;
}

footer p {
  padding: 20px;
  font-size: 0.7em;
}

.btn:disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--light-green);
  background: var(--grey, grey);
}

@media (max-width: 900px) {
  .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  form {
    max-width: 350px;
    width: 90%;
  }
}
